.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.board {
    display: grid;
    width: 640px;
    height: 640px;
    grid-template-rows: repeat(8,12.5%);
    grid-template-columns: repeat(8,12.5%);

}
.lightsquare {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #eedab9;
    cursor: pointer;
    transition: background-color 0.2s;
}
.darksquare {
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #b58863;
    cursor: pointer;
    transition: background-color 0.2s;      
}

.piece {
    display:inline-block;
    justify-content: border-bottom;
    width: 80px;
    height: 80px;
}


.dropped {
    background-color: #f7c8c8;
}

.from {
    background-color:#c8f7c8;
}
Copy code
.metrics {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.metric:last-child {
  border-bottom: none;
}

.metric-key {
  font-weight: bold;
}

.metric-value {
  color: #666;
}